.background{
	background-image: url(https://images.pexels.com/photos/82256/pexels-photo-82256.jpeg);
}

.is-image-centered{
	margin: 0 auto;
}

.background-student{
	background: linear-gradient(rgba(7, 86, 221,.8), rgba(20, 46, 91,.8)), url(../img/background-student.jpeg) no-repeat center center fixed;
}


.tabs-centered{
	display: flex;
	align-items: center;
	justify-content: center;
}