<!DOCTYPE html>
<html ng-app="RootApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Dashboard | Udemam</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
	<link rel="stylesheet" href="asset/css/bulma.css">
	<link rel="stylesheet" href="asset/plugins/fontawesome/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="asset/plugins/css-spacing/css-spacing.css">
	<link rel="stylesheet" type="text/css" href="asset/css/style.css">
	<link rel="stylesheet" type="text/css" href="asset/css/custom.css">
	<link rel="shortcut icon" href="asset/img/logo/favicon.png"/>
	<!-- angular -->
	<script src="asset/plugins/angularjs/angular.min.js"></script>
</head>
<body ng-controller="studentBookmarkController">

<!-- Header -->
<section class="hero is-medium is-primary background-student">
	<div class="hero-head">
		<div ng-include="'view/navbar-login.html'"></div>
	</div>
  <div class="hero-body">
    <div class="container"><br>
    	<h1 class="title has-text-centered mtl is-size-5">
    		STUDENT
    	</h1>
    	<div class="columns">
    		<div class="column">
    			<p class="image is-128x128 is-image-centered">
				     <img class="is-rounded" src="asset/img/fotoharish.jpg">
					 </p>
    		</div>
    		<div class="column has-text-centered">	
    			<p class="title is-5">@harishsetyo</p>
    			<p class="title is-5">Condong Catur, Yogyakarta</p>
    		</div>
    		<div class="column has-text-centered">
    			<a href="#"><i class="fab fa-facebook has-text-light fa-lg fa-2x"></i></a>
		  		<a href="#"><i class="fab fa-twitter-square has-text-light fa-lg fa-2x"></i></a>
		  		<p class="title is-5">Student at University of Amikom Yogyakarta</p>
    		</div>
    	</div>
    	<div class="columns">
    		<div class="column has-text-centered">
    			<p class="title is-5">5 COURSES IN PROGRESS</p>
    		</div>
    		<div class="column has-text-centered">	
    			<p class="title is-5">9 COURSES FINISH</p>
    		</div>
    		<div class="column has-text-centered">
    			<P class="title is-5">1000 EXPERIENCES</P>
    		</div>
    	</div>
    </div>
  </div>
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li><a href="dashboard-student.html">Profil</a></li>
          <li class="is-active"><a >Bookmark</a></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </nav>
  </div>
</section>
<!-- Profil -->
<div class="container">
	<section class="pvxl">
		
				<h1 class="title is-4 has-text-centered">STUDENT DASHBOARD REVIEW</h1>
			
			<div class="container has-text-centered">
				<div class="dropdown is-hoverable">
				  <div class="dropdown-trigger">
				    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
				      <span>Category</span>
				      <span class="icon is-small">
				        <i class="fas fa-angle-down" aria-hidden="true"></i>
				      </span>
				    </button>
				  </div>
				  <div class="dropdown-menu" id="dropdown-menu3" role="menu">
				    <div class="dropdown-content">
				      <a href="#" class="dropdown-item">
				        Programming
				      </a>
				      <a href="#" class="dropdown-item">
				        School Lesson
				      </a>
				      <a href="#" class="dropdown-item">
				        College Lesson
				      </a>
				      <a href="#" class="dropdown-item">
				        Literature
				      </a>
				    </div>
				  </div>
				</div>
				<div class="dropdown is-right is-hoverable">
				  <div class="dropdown-trigger">
				    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
				      <span>Type</span>
				      <span class="icon is-small">
				        <i class="fas fa-angle-down" aria-hidden="true"></i>
				      </span>
				    </button>
				  </div>
				  <div class="dropdown-menu" id="dropdown-menu3" role="menu">
				    <div class="dropdown-content">
				      <a href="#" class="dropdown-item">
				        PDF
				      </a>
				      <a href="#" class="dropdown-item">
				        Slideshow
				      </a>
				      <a href="#" class="dropdown-item">
				        Video
				      </a>
				      <a href="#" class="dropdown-item">
				        Book
				      </a>
				    </div>
				  </div>
			</div>
				
			
		</div>
	</section>
	<section>
		 <div class="columns is-multiline mtl">
			
				<div class="column is-4" ng-repeat="course in courses | filter:query">
						<div class="card card-custom" data-ng-click="courseClick(course, courses)" data-id="{{ courses.indexOf(course) }}">
							<div class="card-image">
								<figure class="image is-4by3">
									<img ng-src="{{ course.picture }}" alt="Placeholder image">
								</figure>
							</div>
							<div class="card-content">
								<small class="is-uppercase has-text-weight-semibold has-text-grey-light is-size-7">{{course.category}}</small>
								<h3 class="is-size-5 has-text-weight-semibold">{{course.name}}</h3>
				
								<div class="footer-content mtl is-size-7 has-text-right">
									<i class="fas fa-user-friends has-text-info"></i> 1200 <i class="fas fa-star has-text-warning"></i> {{ course.rating.totalPoint }}
								</div>
							</div>
						</div>
		    	</div>

		</div>
    	
	</section>
</div>

<!-- Footer -->
<div ng-include="'view/footer.html'"></div>

<script type="text/javascript" src="asset/js/main.js"></script>
<!-- ng-main-controller -->
<script src="asset/plugins/angularjs/controllers/app.js"></script>
</body>
</html>