<!-- navbar component -->
<section class="hero">
	<div class="hero-head">
		<nav class="navbar pvs is-fixed-top sticky">
			<div class="container">
				<div class="navbar-brand">
					<a class="navbar-item" href="index.html">
						<img src="asset/img/logo/logo.png" alt="Logo">
					</a>
					<span class="navbar-burger burger" data-target="navbarMenu">
						<span></span>
						<span></span>
						<span></span>
					</span>
				</div>
				<div id="navbarMenu" class="navbar-menu">
					<div class="navbar-end">
						<span class="navbar-item">
							<a class="has-text-white has-text-weight-semibold is-size-6" href="index.html">
								<span>HOME</span>
							</a>
						</span>
						<span class="navbar-item">
							<a class="has-text-white has-text-weight-semibold" href="course.html">
								<span>COURSES</span>
							</a>
						</span>
						<span class="navbar-item">
							<a class="has-text-white has-text-weight-semibold" href="about-us.html">
								<span>ABOUT US</span>
							</a>
						</span>
						<span class="navbar-item">
							<a class="has-text-white has-text-weight-semibold" href="contact-us.html">
								<span>CONTACT</span>
							</a>
						</span>
						<div class="navbar-item has-dropdown has-dropdown-custom is-hoverable">
							<a class="navbar-link">
								<p class="image is-32x32">
									<img class="is-rounded" src="asset/img/fotosiswa.jpg">
								</p>
							</a>

							<div class="navbar-dropdown navbar-dropdown-custom">
								<a class="navbar-item" href="dashboard-student.html">
									Dashboard
								</a>
								<a class="navbar-item" href="#">
									My Courses
								</a>
								<a class="navbar-item" href="#">
									Messages
								</a>
								<a class="navbar-item" href="#">
									Profile
								</a>
								<a class="navbar-item" href="#">
									Logout
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</div>
</section>
<!-- end of navbar component -->